.header {
  background-color: palevioletred;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
}
.col-5 {
  flex-grow: 3;
}

header img {
  height: auto;
  width: 150px;
  justify-content: flex-end;
}
section p {
  padding: 60px 60px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  background-color: palevioletred;
  margin-top: 20px;
}
.image {
  box-sizing: border-box;
}
.welcome {
  display: flex;
}

.cakes {
}
.footer {
  background-color: lightgray;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer h4 {
  display: flex;
  justify-content: center;
}
.fourcakes {
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  margin: 50px;
}
.first-cake {
  margin: 60px;
}
.second-cake {
  margin: 50px;
}
.third-cake {
  margin: 50px;
}
.fourth-cake {
  margin: 50px;
}
.first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.second {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
